In [7]:
import sympy as sp
import pandas as pd
import numpy as np

In [8]:
GaussTable = [[[0.861136311, 0.339981043, -0.339981043, -0.861136311], [0.347854845, 0.652145154, 0.652145154, 0.347854845]],
              [[0.906179845, 0.538469310, 0, -0.538469310, -0.906179845], [0.236926885, 0.478628670, 0.56888889, 0.478628670, 0.236926885]],
              [[0.932469514, 0.661209386, 0.238619186, -0.238619186, -0.661209386, -0.932469514], [0.171324492, 0.360761573, 0.467913934, 0.467913934, 0.360761573,  0.171324492]]]
display(pd.DataFrame(GaussTable, columns=["Integration Points", "Corresponding Weights"]))

,Integration Points,Corresponding Weights
0,"[0.861136311, 0.339981043, -0.339981043, -0.86...","[0.347854845, 0.652145154, 0.652145154, 0.3478..."
1,"[0.906179845, 0.53846931, 0, -0.53846931, -0.9...","[0.236926885, 0.47862867, 0.56888889, 0.478628..."
2,"[0.932469514, 0.661209386, 0.238619186, -0.238...","[0.171324492, 0.360761573, 0.467913934, 0.4679..."

In [9]:
def IG(f, n):
    n = int(n)
    return sum([GaussTable[n - 4][1][i]*f(GaussTable[n - 4][0][i]) for i in range(n)])
def f(x): 
    return 1/np.power((1 + x**2),0.5)
#Iexact, error = integrate.quad(f, -1, 1)
#print("Iexact: ",Iexact)
table = [[i + 4, round(sp.N(IG(f, i + 4)),9)] for i in range(3)]             #truncating to 1e-9, 9 decimal places
table = pd.DataFrame(table, columns=["Number of Integration Points",  "Numerical Integration Results"])
display(table)

   Number of Integration Points Numerical Integration Results
0                             4                   1.762054179
1                             5                   1.762855296
2                             6                   1.762730048

In [10]:
res = table["Numerical Integration Results"]

In [11]:
table1 = [[res[i],(res[i]-res[0])/res[0],(res[i]-res[1])/res[1],(res[i]-res[2])/res[2]] for i in range(3)]
table1 = pd.DataFrame(table1,columns=["Numerical Integration Results","rel_err wrt 4pt", "rel_err wrt 5pt", "rel_err wrt 6pt"])
display(table1)

,Numerical Integration Results,rel_err wrt 4pt,rel_err wrt 5pt,rel_err wrt 6pt
0,1.762054179,0,-0.0004544428582,-0.0003834217272
1,1.762855296,0.0004546494704,0,7.105342070e-5
2,1.762730048,0.0003835687959,-7.104837247e-5,0